#lp-cadeaucheques-wrapper{
	background: #ffffff;

// =============
// BEGIN NESTING

.lp-cadeaucheques-header{
	//background: #dddddd;
}

.lp-cadeaucheques-header-hero{
	&.nl-fix{
		background: url(../../images/header-valentijn-nl.jpg) no-repeat center;
		background-size: contain;

		@media only screen and(max-width: 767px) {
			background: url(../../images/header-valentijn-mobile-nl.jpg) no-repeat center;
			background-size: contain;
		}
	}

	&.fr-fix{
		background: url(../../images/header-valentijn-fr.jpg) no-repeat center;
		background-size: contain;

		@media only screen and(max-width: 767px) {
			background: url(../../images/header-valentijn-mobile-fr.jpg) no-repeat center;
			background-size: contain;
		}
	}

	&.en-fix{
		background: url(../../images/header-valentijn-en.jpg) no-repeat center;
		background-size: contain;

		@media only screen and(max-width: 767px) {
			background: url(../../images/header-valentijn-mobile-en.jpg) no-repeat center;
			background-size: contain;
		}
	}

	&.de-fix{
		background: url(../../images/header-valentijn-de.jpg) no-repeat center;
		background-size: contain;

		@media only screen and(max-width: 767px) {
			background: url(../../images/header-valentijn-mobile-de.jpg) no-repeat center;
			background-size: contain;
		}
	}

	

	&:after{
		background: url(../../images/schaduw.png) no-repeat center;
		background-size: cover;

		@media only screen and(max-width: 767px) {
			display: none;
		}
	}
}

.lp-cadeaucheques-header-headinggroup{
	text-align: center;
}

.lp-cadeaucheques-header-subheading{
	font-weight: 400;
}

.lp-cadeaucheques-content-article-heading{
	text-align: center;
}

.lp-cadeaucheques-footer{
	background: #F0F0F0;
}

// END NESTING
// ===========
}